@import url("https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap");
body,
html,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "Quantico", sans-serif;
}
body {
  background-image: url(../imges/pattern_1335.png);
  opacity: 0.9;
}
.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.main-header {
  /* min-height: 150px;
  background: rgb(54, 109, 228); */
}
.flex-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* margin: 0 -50px; */
  /* background: rgba(219, 210, 82, 0.363); */
  /* padding: 0 0 -50px 0; */
}
.main-header a {
  flex-basis: 200px;
  display: block;
  /* margin-right: 50px; */
}

.main-header img {
  width: 100%;
}
.text-logo {
  font-size: 50px;
  flex-basis: 400px;
  font-weight: bold;
  color: beige;
  text-shadow: 0 0px 5px rgba(36, 34, 34, 0.59);
  /* flex-grow: 1; */
  margin: 0 auto;
  position: relative;
  /* display: flex; */
}
.text-logo::after {
  content: "Тренаженый зал";
  font-family: "Quantico", sans-serif;
  font-size: 12px;
  position: absolute;
  left: 290px;
  top: 0px;
}

.adress {
  font-size: 14px;

  color: beige;
  margin-bottom: auto;
  margin-left: auto;
  /* order: 1; */
}
.menu-hidden {
  display: none;
  cursor: pointer;
}
#menu-tag {
  display: none;
}
.main-navigation {
  /* margin-top: 50px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* display: none; */
  /* background: rgba(219, 210, 82, 0.363); */
  list-style-type: none;
}
.main-navigation li {
  padding: 20px;
  /* height: 55px; */
}

.main-navigation li a {
  color: beige;
  text-decoration: none;
  transition: 0.5s;
  /* display: block; */
  font-size: 18px;

  /* background: rgb(150, 140, 140); */
}

.main-navigation li :hover {
  text-shadow: 0px 0px 2px rgb(233, 205, 205);
  /* border-bottom: 1px solid rgb(221, 219, 187); */
}
.acitve-page > a {
  opacity: 0.8;
  text-shadow: 0px 0px 2px rgba(233, 154, 8, 0.76);
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  /* background: rgba(160, 126, 63, 0.76); */
  padding-top: 50px;
  background: rgba(160, 126, 63, 0.76);
  /* overflow: hidden; */
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px rgba(58, 56, 56, 0.39);
  margin-bottom: 30px;
}

.content-items {
  padding: 10px;
  margin-bottom: 10px;
  flex-basis: 800px;
  margin: 0 auto;
  font-family: "Quantico", sans-serif;
  color: aliceblue;
  background: rgba(219, 210, 82, 0.363);
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(58, 56, 56, 0.39);
  text-shadow: 1px 1px 5px rgba(36, 34, 34, 0.59);
}

.cotial-flex {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.cotial li {
  background: white;
  border-radius: 50px;
  height: 50px;
}
@media screen and (max-width: 550px) {
  .flex-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* margin: 0 -50px; */
    /* background: rgba(219, 210, 82, 0.363); */
    padding: 0 0 -50px 0;
  }
  .main-header a {
    flex-basis: 100px;
    display: block;
    /* margin: 0 auto; */
    max-width: 100px;
    align-self: center;
  }
  .text-logo {
    /* margin: 0 auto; */
    /* margin-left: 120px; */
    font-size: 20px;
    flex-basis: 50px;
    font-weight: bold;
    color: beige;
    /* align-self: center; */
    text-shadow: 0 0px 5px rgba(36, 34, 34, 0.59);
    position: relative;
  }

  .text-logo::after {
    content: "Тренаженый зал";
    font-family: "Quantico", sans-serif;
    font-size: 8px;
    position: absolute;
    left: 50px;
    top: -5px;
    text-shadow: 0 0px 5px rgba(36, 34, 34, 0.59);
  }
  .adress {
    position: absolute;
    visibility: hidden;

    align-self: center;
  }

  .menu .wrap {
    position: relative;
  }
  .menu-hidden {
    display: block;
    /* background: rgba(219, 210, 82, 0.363); */
    color: aliceblue;

    cursor: pointer;
    width: inherit;
  }

  .main-navigation {
    display: flex;
    opacity: 0;
    /* height: 0px; */
    flex-wrap: wrap;
    align-items: flex-start;
    transition: 0.5s;
    flex-direction: column;
    border-radius: 5px;
    background: rgba(160, 126, 63, 0.993);
    list-style-type: none;
    position: absolute;

    box-shadow: 1px 1px 5px rgba(58, 56, 56, 0.39);
  }
  #menu-tag:checked ~ .main-navigation {
    display: flex;
    opacity: 1;
    height: 200px;
  }
  .main-navigation li {
    padding: 5px;
    width: 150px;
    transition: 0.5s;
  }
  .main-navigation li:hover {
    border-bottom: 1px solid rgb(221, 219, 187);
  }
  .main-content {
    padding-top: 0px;
  }
}
/*стили для галереи*/

.galery {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
}
.foto {
  flex-basis: 200px;
  width: 30%;
  background: grey;
  box-sizing: border-box;
  padding: 10px;

  transition: 0.9s;
}
.foto img {
  width: 100%;
}
.foto:hover {
  transform: scale(1.2);
}
